.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 60%;
}

.navBar input{
    height: 40px;
    width: 320px;
    border-radius: 100px;
    padding-left: 15px;
}

.navBar input::placeholder{
   padding: 20px;
}

.inputSearch{
    position: relative;
    margin-right: 12em;
}

.inputSearch button{
    width: 40px;

    padding: 6px;
    border-radius: 0px 100px 100px 0px;
    border: none;

    position: absolute;
    right: 1px;
    bottom: 2px;
}

/* Field of new post */
.newPost{
    width: 56px;
    height: 49px;

    position: relative;

    background: #D9D9D9;
    border-radius: 50%;

    cursor: pointer;
}

.newPost svg{
    position: absolute;

    right: 17px;
    bottom: 12px;
    font-size: 1.6em;

    color: black;
}

#tooltipText{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* #tooltipText::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;
} */


.newPost:hover #tooltipText{
    bottom: 30%;
    visibility: visible;
    opacity: 1;
}

.userArea{
    margin-right: 4em;
}

.userArea svg{
    font-size: 2em;
}

.userArea a{
    margin-left: 20px;
    color: #ffffff;
}

.userArea a:hover{
    color: #cb4f11;
}


/* Posts */

.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 294px;

    opacity: 0.93;
    border-radius: 12px;

    margin-bottom: 2em;
}