.logo{
    width: 60%;
}

.logo:hover{
    width: 65%;
    transition: 0.4s;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.postsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.noPosts{
    height: 47vh;
}

.noPosts p{
    font-size: 20px;
}