.post{

    width: 500px;
    height: 546px;

    border-radius: 6px;

    background: #242526;

    margin: 2em;
}

.user{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 1em;
}

.user span svg{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.content p{
    margin-left: 10px;
    font-size: 12px;
    flex-wrap: nowrap;
}

.image{
    width: 100%;
    height: 100%;
}

.image img{
    width: 100%;
    height: 60%;
}

.tags{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.post a{
    color: #e1f0e1;
    margin-left: 10px;
}

.post a:hover{
    text-decoration: underline;
}

/* RESPONSIVO */

@media only screen and (max-width: 425px){
    
    .post{
        width: 90%;
    }

    .tags p{
        font-size: 12px;
    }
    
}