.post{

    width: 500px;
    height: 546px;

    border-radius: 6px;

    background: #242526;

    margin: 2em;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px;
    margin-bottom: 1em;
    padding: 10px;
}

.userDetails{
    display: flex;
}

.user span svg{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

/* Dots */

#btnDots{
    border: none;
    color: #e1f0e1;
}

.dotsInput:hover{

    background: #3a3b3c;
    border-radius: 50%;

    text-align: center;
}

.dots{
    font-size: 1.7em;
    cursor: pointer;
}

/* Input dots */

#edit{
    color: #242526;
}

#edit:hover{
    background: #565e64;
    color: #e1f0e1;

    border-radius: 5px;
}

.pen{
    margin-right: 10px;
}

#delete{
    color: #242526;
}

#delete:hover{
    background: red;
    color: #e1f0e1;

    border-radius: 5px;
}

.trash{
    margin-right: 10px;
}

.content p{
    margin-left: 10px;
    font-size: 12px;
    flex-wrap: nowrap;
}

.image{
    width: 100%;
    height: 100%;
}

.image img{
    width: 100%;
    height: 60%;
}

.tags{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.post a{
    color: #e1f0e1;
    margin-left: 10px;
}

.post a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 425px){
    .post{
        width: 90%;
    }
}
