*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #373232;
  color: #efe;
  font-family: 'Noto Sans JP', sans-serif;
}

li{
  list-style: none;
}

button{
    color: #E6E3E3;
    font-weight: 900;
    font-size: 1em;
    background: #8F5F30;
    cursor: pointer;
}

button:hover{
    background-color: #cb4f11;
    color: #fff;
}